<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" th:href="@{/static/css/main.css}"
              href="../../static/css/main.css" />
    </div>
</head>
<body>
    <!-- this is header -->
    <div th:fragment="header">
        <div id="homeHeader">
            <a th:href="@{/app/data}" title="Home">
                <img height="50px" src="https://toppng.com/uploads/preview/hombutton-white-home-button-11563211148zdfdwfoi16.png" />
            </a>
        </div>
        <div id="logoHeader">Ukr Dashboard
            <div id="logInUser">
                <div sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                    <form th:action="@{/app/logout}" method="post">
                        <div>
                            <input type="submit" value="Log out" />
                        </div>
                    </form>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/app/login}">Log in</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
