<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ukr Dashboard</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    [(${categoriesMenu})]

    [(${tabList})]

    [(${htmlData})]

<!--    <div class="tabDiv" id="liveMatch">-->
<!--        <iframe width="700" height="480" src="https://www.youtube.com/embed/YHsjJJ34oxM" title="СЛАВІЯ – ДНІПРО-1. Ліга Європи. ПРЯМА ТРАНСЛЯЦІЯ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
<!--    </div>-->
</body>
</html>
